body {
    width: 100vw;
}
h1 {
    font-size: 4em;
    text-align: center;
}

.memSlider{
    width: 100%;
}

.sliderContainer {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}
.slider {
    width: 200%;
    display: flex;
    justify-content: left;
    transition: all 1s ease-in-out;
}
.slide {
    width: 50%;
}
.slide img {
    width: 100%;
    height: 100%;
}

.definitionContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input[name='switch'] {
    display: none;
}
.definitionWrap {
    width: 50%;
    display: flex;
    overflow: hidden;
}
.definition {
    width: 200%;
    display: flex;
    justify-content: left;
}
.definition p {
    font-size: 2em;
    width: 100%;
}


.controlsContainer {
    width: 50%;
    display: flex;
    justify-content: right;
    column-gap: 1%;
}
.control {
    background-color: lightblue;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    
}
.control:hover {
    cursor: pointer;
    background-color:aquamarine;
}
.control:active {
    background-color: lightgreen;
}

#switcher1:checked ~ .slider {
    margin-left: 0;
}
#switcher2:checked ~ .slider {
    margin-left: -100%;
}
#switcher1:checked ~ .definitionContainer:first-child{
   background-color: black
}
#switcher1:checked ~ .definition {
    margin-left: 0;
}
#switcher2:checked ~ .definition {
    margin-left: -100%;
}




